--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.136.1
uvicorn[standard]==0.46.0
python-multipart==0.0.27
torch==2.11.0+cpu
numpy==2.4.4
librosa==0.11.0
matplotlib==3.10.9
soundfile==0.13.1
